streamlit
cohere
python-dotenv
google-api-python-client
requests
google-generativeai
folium
streamlit-folium
fuzzywuzzy
python-Levenshtein
openai
pandas
plotly
python-weather
pycountry
langdetect
googletrans==3.1.0a0
streamlit-option-menu
streamlit-extras
streamlit-lottie
streamlit-plotly-events
